/* INICIO BARRA SUPERIOR  */

.resto-logo{
	width: 4em;
	height: 4em;
}

.hamburger{
	background-color: rgba(0, 0, 0, 1);
	color:#ff0000 !important;
}

/* FIN BARRA SUPERIOR  */


/* INICIO SECCION SLIDES */

.btn-slide-1 .btn-slide-2 .btn-slide-3{
	background-color: #faaf18;
}

/* FIN SECCION SLIDES */


/* INICIO RESUMEN DEL CARRITO */

.resume-image{
	width: 100%;
	height: 100%;
}

.resume-image{
	position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.close-icon{
	font-size: 2em;
}

.btn-close{
	float:none!important;
	display:inline;
}

.total{
	display: inline
}

.total-container{
	text-align: right;
	border: 1px solid #ff6961;
	height: 1.5em;
	
	font-family: "sans serif";
	font-size: 3em;
	line-height: 1.45;
	color: #000;
	font-weight: 400;
}

.total-text{
	margin-right: 2em;
}

.total-number{
	
}

#ifinalizar-compra{
	margin-top: 4em;
}

.volver-a-comprar{
	margin-top: 4em;
}

#carrito{
	background-color: #FFF;
	margin-bottom: 15em;
}

.finalizar-compra-container{
    display: flex;
    justify-content: center;
}

.btn-finalizar-compra{
	color:#FFF !important;
	width: 60%;
	margin-bottom: 3em;
} 

.volver{
	font-family: "sans serif";
	font-size: 1.5em;
	line-height: 1.45;
	font-weight: 400;
	color: #FDA403 !important;
	cursor: pointer;
}

.flecha-volver{
	font-size: 3em;
}


/* FIN RESUMEN DEL CARRITO */

/* INICIO SECCION MENU */
.section-menu {
	padding-top: 8em;
}

#iproducto {
	display: inline;
	float: none;
}

#iproducto .item {
	display: inline;
	float: none;
}

#iproducto .info-item {
	display: inline;
	float: none;
	
	margin-top: 8em;
}

#iproducto .add-to-cart {
	justify-content: center;
}

.price-item {
	font-family: "sans serif";
	font-size: 24px;
	line-height: 1.45;
	color: #000;
	font-weight: 400;
	float: right;
	
	padding-right: 1em;
}

#iproducto .nombre {
	text-align: left;
	
	padding-top: 1em;
	padding-left: 3em;
}

#iproducto .texto-cantidad {
	text-align: left;
	
	padding-top: 1em;
	padding-left: 1em;
	
	vertical-align: middle
}

#iproducto .wrap-num-product {
	float: right;
}

#iproducto .descripcion {
	text-align: left;
	padding-left: 3em;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin-bottom: 1em;
    width: 90%;
}


.add-cantidad{
	display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
	margin: 0; 
}

.cantidad{
	padding-right: 4em;
}


.color-red {
	color: #C70039
}

.menu-item {
	border: 1px solid #ABB2B9;
	background: white;
	padding: 1em;
}

.info-item {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 4em;
	
	border-top: 1px solid #ccc;
    border-radius: 25px;
}
.info-item img {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.section-menu {
	background-color: #f3f3f3;
}


/******************************************************************************/
#isection-producto{
	background-color: #f3f3f3;
}

.btn-add{
	margin-top: 3em !important;
	background-color: #faaf18;
	
	min-width: 25em;
	height: 3em;
	
	width: 66%;
	margin: 0 auto
}

.imagen-producto{
	width: 100%;
}

/***************************************************************************  */
.cover {
	display: block;
	margin-rigth: auto;
	margin-left: auto;
}

.bd-example-modal-lg .modal-dialog {
	display: table;
	position: relative;
	margin: 0 auto;
	top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
	background-color: transparent;
	color: #ffc107;
	border: none;
}

.descripcion {
	line-height: 1.45;
	font-family: "sans serif";
	font-weight: 400;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

.button-disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}


/* INICIO ID FORMULARIO FINAL */

.section-form{
	margin-top: 3em;
	margin-bottom: 15em;
}

#formulario{
	margin-top: 12%;
	margin-left: 0 auto;
	margin-right: 0 auto;
	background-color: #FFF;
	width: 95%;
	border-radius: 25px;
}

#iform-confirmar{
	margin-left: 5%; 
}

.fc-inombre, .fc-iapellido, .fc-idirpostal, .fc-imail {
	margin-bottom: 2em;
} 

.inombre, .iapellido, .idirpostal, .imail {
	color: #e6e6e6;
} 

irecordar {
    display: inline;
}

.lab-recordar{
	display: inline;
}


input[type=checkbox] {
    display: inline;
}

.btn-confirmar-compra-container {
	margin-top: 3em;
	margin-bottom: 3em;
	display: flex;
    justify-content: center;
}

/* FIN ID FORMULARIO FINAL */


/* INICIO FOOTER */


/* FIN FOOTER */

